/* Small Screen */
.container {
  margin: 1rem;
}

.movies {
  margin: 5rem 0;
  text-align: center;
}

.movies__title {
  color: #f72585;
  margin-bottom: 1rem;
}

/* Medium Screen */
@media(min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .movies__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}