/* Small Screen */
.movie__image {
  border-radius: 20px;
  max-width: 100%;
  margin-bottom: 1rem;
}

.movie__title {
  color: #f72585;
  margin-bottom: 1rem;
}

.movie__date {
  margin-bottom: 1rem;
}

/* Medium Screen */
@media(min-width: 768px) {
  .movie {
    flex-basis: 50%;
  }
}

/* Large Screen */
@media(min-width: 992px) {
  .movie {
    padding: 1rem;
    flex-basis: 25%;
  }
}